.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: #00b6bc;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 4px;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black;
  background-color: #71d5e4;
  margin-top: 0;
}

.centred {
  display: flex;
  justify-content: center;
}

.contactsBox {
  composes: centred;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 5px dotted #00b6bc;
  border-radius: 1rem;
  min-width: 27rem;
  margin-bottom: 2rem;
}

.formButton {
  padding: 0.5rem;
  border: 1px solid #00b6bc;
  background-color: #71d5e4;
  border-radius: 4px;
  font-weight: bold;
}

.formButton:hover {
  box-shadow: inset 3px 3px 21px -14px rgba(66, 68, 90, 1);
  cursor: pointer;
  background-color: #a1dbf1;
}

.addContactBtn {
  composes: formButton;
  font-size: 1.1rem;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
}
