.editWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 5px dotted #00b6bc;
  border-radius: 1rem;
  background-color: #e4f4f3;
  width: 15rem;
  height: 15rem;
  position: absolute;
  transform: translate(20%, -35%);
}

.formLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #00b6bc;
  font-size: 1.2rem;
}

.formInput {
  padding: 0.7rem;
  border: 1px solid #00b6bc;
  border-radius: 4px;
  font-size: 0.9rem;
  outline: none;
  text-align: center;
}

.formInput:focus {
  box-shadow: inset 3px 3px 21px -14px rgba(66, 68, 90, 1);
}

.formButton {
  padding: 0.5rem;
  border: 1px solid #00b6bc;
  background-color: #71d5e4;
  border-radius: 4px;
  font-weight: bold;
}

.formButton:hover {
  box-shadow: inset 3px 3px 21px -14px rgba(66, 68, 90, 1);
  cursor: pointer;
  background-color: #a1dbf1;
}
