.headerBg {
  background-color: #71d5e4;
}

.headerContainer {
  width: calc(100vw - 15%);
  margin: 0 auto;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.container {
  width: calc(100vw - 15%);
  margin: 0 auto;
  padding: 2rem 1rem;
  height: calc(100vh - 10rem);
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
