.contactList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contactItem {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #00b6bc;
  border-radius: 4px;
  background-color: #aae6e9;
}

.text {
  border-bottom: 1px solid #00b6bc;
  padding-bottom: 0.5rem;
}

.formBtn {
  padding: 5px;
  border: 1px solid #00b6bc;
  background-color: #71d5e4;
  border-radius: 4px;
  font-size: 0.7rem;
  margin: 0.5rem;
  margin-bottom: 0;
}

.formBtn:hover {
  box-shadow: inset 3px 3px 21px -14px rgba(66, 68, 90, 1);
  cursor: pointer;
  background-color: #a1dbf1;
}
