.contactItem {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.contactItem:not(:last-child) {
  border-bottom: 1px solid #00b6bc;
}

.formBtn {
  padding: 5px;
  border: 1px solid #00b6bc;
  background-color: #71d5e4;
  border-radius: 4px;
  margin-left: 1rem;
  font-size: 0.7rem;
}

.formBtn:hover {
  box-shadow: inset 3px 3px 21px -14px rgba(66, 68, 90, 1);
  cursor: pointer;
  background-color: #a1dbf1;
}
